/* -------------------------------------------------
	Font
   ------------------------------------------------- */
@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------------------------
	Base styles
   ------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'AvenirLTStd', sans-serif;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}

.container__section {
    max-width: 600px;
}

.split-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* -------------------------------------------------
	Header
   ------------------------------------------------- */
header {
    background-color: #1f1f20;
}

.header__inner {
    padding: 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 163px;
}

.logo img {
    width: 100%;
}

.header__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__list ul li + li {
    margin-left: 30px;
}

.header__list ul li a {
    font-size: 14px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

.header__list ul li:last-child a {
    padding: 12px 16px 10px 16px;
    font-weight: 900;
    color: black;
    background-color: #fdad00;
    border-radius: 3px;
}

/* -------------------------------------------------
	Offer
   ------------------------------------------------- */
.offer {
    -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    background-color: #371a84;
    position: relative;
}

.offer__content {
    padding: 17px 0;
    text-align: center;
}

.offer__content span {
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    color: white;
}

.offer__content span:first-child {
    font-weight: 500;
    color: #fdad00;
}

/* -------------------------------------------------
	Banner
   ------------------------------------------------- */
.banner {
    background-image: linear-gradient(225deg, #60449a 0%, #1a843d 100%);
    text-align: center;
    padding-bottom: 70px;
}

.banner__container {
    position: relative;
}

h1 {
    margin: 0;
    padding: 50px 25px 0 25px;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    color: white;
}

.banner h3 {
    margin-bottom: 35px;
    padding: 30px 150px 0 150px;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    color: #f7b500;
}

.banner__video {
    position: relative;
}

.banner__video img {
    width: 100%;
    height: auto;
    background-color: black;
    -webkit-box-shadow: 0 0 34px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.banner__video-btn-play {
    width: 100px;
    height: 100px;
    background: url(../images/banner/btn-play.svg) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.banner__video-player {
    display: none;
}

.banner__info {
    width: 100%;
    position: absolute;
}

.btn-get {
    display: block;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    padding-top: 30px;
    -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 1px solid #5a8328;
    background-color: #83ba3f;
    font-size: 30px;
    font-weight: 900;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
}

.banner__info span:nth-child(2) {
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
}

.banner__info span:nth-child(3) {
    font-weight: 500;
}

/* -------------------------------------------------
	Team
   ------------------------------------------------- */
.team {
    margin-top: 135px;
}

.team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team__block-item {
    padding: 0 27px;
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

.team__block-item img:nth-child(1) {
    margin-top: 40px;
}

.team__block-item span {
    width: 225px;
    display: block;
}

.team__block-item span:nth-child(2) {
    margin-top: 17px;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
}

.team__block-item span:nth-child(3) {
    font-weight: 500;
    line-height: 26px;
    color: #565656;
}

.team__block-item img:nth-child(4) {
    margin-top: 30px;
    margin-bottom: 32px;
}

/* -------------------------------------------------
	About
   ------------------------------------------------- */
.about {
    margin: 67px 0;
}

.about__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about__desc span {
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
}

.about__text {
    margin-top: 63px;
}

.about__text p + p,
.answer-1__text p + p {
    margin-top: 30px;
}

.about__text p {
    line-height: 30px;
    color: #565656;
}

/* -------------------------------------------------
	Question #1
   ------------------------------------------------- */
.section-bg {
    width: 100%;
    background-image: linear-gradient(226deg, #6739ba 0%, #371a84 100%);
    position: absolute;
    left: 0;
}

.question-1-bg {
    height: 785px;
}

.question,
.faq-title {
    padding-bottom: 90px;
    text-align: center;
    position: relative;
}

.question__title span,
.faq-text {
    display: inline-block;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
    color: #fdad00;
}

.question__title h2 {
    padding: 0 5px;
    font-size: 36px;
    line-height: 50px;
    color: white;
}

.question-1__content img {
    margin-top: 55px;
}

.question-1__content span {
    display: inline-block;
    margin-top: 45px;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    color: white;
}

/* -------------------------------------------------
	Answer #1
   ------------------------------------------------- */
.answer-1 {
    margin-bottom: 68px;
    position: relative;
}

.answer-title {
    display: inline-block;
    margin-top: -75px;
    margin-bottom: 35px;
    width: 600px;
    height: 184px;
    padding: 40px 49px 0 49px;
    font-size: 26px;
    font-weight: 800;
    line-height: 35px;
    color: #fdad00;
    text-align: center;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    border: 2px solid #fdad00;
    background-color: #231151;
}

.answer-1__text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.answer-1__text ul,
.answer-4__text ul,
.answer-5__text ul {
    position: relative;
}

.answer-1__text li {
    margin-top: 45px;
    margin-left: 50px;
    line-height: 30px;
}

.answer-1__text li::before,
.answer-4__text li::before,
.answer-5__text li::before {
    content: '';
    margin-top: 4px;
    width: 30px;
    height: 30px;
    background-image: url('../images/answer-1/checkbox.svg');
    position: absolute;
    left: 0;
}

.answer-1__info p {
    margin-top: 45px;
    font-weight: 800;
    line-height: 30px;
}

.answer-1__info-screens {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.answer-1__img-inner {
    width: 137px;
    border: 5px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 64px rgba(0, 0, 0, 0.43);
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.43);
}

.answer-1__img-inner img,
.answer-2__img-inner img {
    width: 100%;
}

/* -------------------------------------------------
	Question #2
   ------------------------------------------------- */
.question-2-bg {
    height: 770px;
}

.question-2__text p {
    margin-top: 55px;
    line-height: 27px;
    color: white;
}

/* -------------------------------------------------
	Answer #2
   ------------------------------------------------- */
.answer-2 {
    margin-bottom: 40px;
    position: relative;
}

.answer-2-title {
    margin-top: -50px;
    padding: 42px 60px 0 60px;
}

.answer-2__content {
    text-align: center;
}

.answer-2__img-inner {
    margin-top: 27px;
    width: 600px;
}

.answer-2__img-inner img {
    -webkit-box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);
    border: 2px solid #dde6d7;
}

.answer-2__content span {
    display: inline-block;
}

.answer-2__content span:nth-child(4) {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
    line-height: 49px;
}

.answer-2__content span:nth-child(5) {
    margin-top: 14px;
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
}

/* -------------------------------------------------
	Results
   ------------------------------------------------- */
.results-bg,
.proof-bg {
    height: 1044px;
    background-image: linear-gradient(225deg, #60449a 0%, #1a843d 100%);
}

.results {
    position: relative;
}

.results__content {
    text-align: center;
}

.results-img {
    margin-bottom: 15px;
}

.results-img img {
    width: 100%;
}

.results span {
    display: inline-block;
    margin-bottom: 56px;
    font-size: 18px;
    font-weight: 500;
    color: #fdad00;
}

/* -------------------------------------------------
	Question #3
   ------------------------------------------------- */
.question-3-bg {
    height: 755px;
}

/* -------------------------------------------------
	Answer #3
   ------------------------------------------------- */
.answer-3 {
    margin-bottom: 40px;
    position: relative;
}

.answer-3-title {
    margin-top: -55px;
    padding: 20px 20px 0 20px;
}

.answer-3-img {
    width: 633px;
    margin-left: -17px;
    margin-bottom: 20px;
}

.answer-3__content {
    text-align: center;
}

.answer-3__content-desc span + span {
    margin-top: 30px;
    padding: 0 22px;
    display: inline-block;
    line-height: 27px;
    color: #565656;
}

.answer-3__content-desc span:nth-child(1) {
    font-size: 26px;
    font-weight: 800;
    line-height: 35px;
    color: #c52a2a;
}

.btn-get-answer {
    padding-top: 35px;
    margin-bottom: 30px;
}

/* -------------------------------------------------
	Question #4
   ------------------------------------------------- */
.question-4-bg {
    height: 233px;
}

.question-4,
.question-5 {
    padding-bottom: 80px;
}

/* -------------------------------------------------
	Answer #4
   ------------------------------------------------- */
.answer-4__text {
    margin-bottom: 35px;
}

.answer-4__text span,
.answer-5__text span {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.answer-4__text ul,
.answer-5__text ul {
    margin-top: 40px;
}

.answer-4__text li,
.answer-5__text li {
    margin-left: 50px;
    font-weight: 800;
    line-height: 50px;
}

.answer-4__text span:nth-child(5) {
    text-decoration: underline;
}

.buy__block {
    text-align: center;
}

.buy__block span {
    border-bottom: 2px solid white;
}

.buy__block > span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
}

.buy__block + div {
    margin-bottom: 27px;
    text-align: center;
}

.buy__block + div span {
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
}

.buy__block-img-1 {
    width: 700px;
    margin-left: -50px;
    margin-bottom: -5px;
}

.buy__block-img-2 {
    margin-top: 35px;
    margin-bottom: 45px;
}

/* -------------------------------------------------
	Answer #5
   ------------------------------------------------- */
.answer-5 {
    margin-bottom: 68px;
}

.answer-5__text li {
    margin-top: 35px;
    line-height: 26px;
}

/* -------------------------------------------------
	F.A.Q title
   ------------------------------------------------- */
.faq-bg {
    height: 100px;
}

.faq-title {
    padding-bottom: 0;
}

.faq-text {
    margin-top: 30px;
}

/* -------------------------------------------------
	F.A.Q
   ------------------------------------------------- */
.faq__text {
    margin-top: 50px;
}

.faq__text span {
    display: inline-block;
}

.faq-question {
    margin-bottom: 23px;
    font-weight: 800;
    line-height: 26px;
}

.faq-answer {
    font-weight: 500;
    line-height: 26px;
    color: #565656;
}

.faq-answer span {
    margin-top: 35px;
}

.faq-separator {
    border: 1px solid black;
    margin: 35px 0;
}

/* -------------------------------------------------
	Proof
   ------------------------------------------------- */
.proof-bg {
    height: 801px;
}

.proof {
    position: relative;
}

.proof-img {
    width: 700px;
    margin-top: 10px;
    margin-left: -50px;
}

/* -------------------------------------------------
	Sidebar
   ------------------------------------------------- */
.sidebar {
    width: 276px;
    height: 485px;
    margin-top: 67px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #83ba3f;
    background-color: white;
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
}

.sidebar img {
    width: 100%;
}

.sidebar span {
    display: inline-block;
}

.sidebar span:nth-child(2) {
    width: 270px;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.22);
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 231px;
    left: 2px;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #371a84;
    text-transform: uppercase;
}

.sidebar span:nth-child(3) {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
}

.sidebar span:nth-child(4) {
    margin-top: 12px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #565656;
}

.sidebar a {
    display: inline-block;
    margin-top: 27px;
    padding: 17px 30px 14px 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 1px solid #5a8328;
    background-color: #83ba3f;
}

/* -------------------------------------------------
	Footer
   ------------------------------------------------- */
footer {
    background-color: black;
    padding-bottom: 45px;
}

.footer__content {
    padding-top: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__desc {
    width: 327px;
    margin-right: 140px;
}

.footer-title {
    display: block;
    margin-bottom: 11px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

.footer-text,
.footer-link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #bababa;
}

.footer__links {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-link {
    margin-top: 20px;
}

.footer-separator {
    margin: 40px 0;
    border: 2px solid rgba(105, 105, 105, 0.3);
}

.footer__info {
    padding: 0 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__info span,
.footer__info span:nth-child(5) a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    color: #797979;
}

.footer__info span:nth-child(2) {
    margin-top: 23px;
}

.footer__info span:nth-child(5) {
    margin-top: 20px;
    font-weight: 800;
}

.footer__info span:nth-child(5) a {
    display: inline;
    font-weight: 800;
}