@media (max-width: 1400px) {
    .congrats-img-1 {
        right: 0;
    }
}

@media (max-width: 1240px) {
    .congrats-img-2 {
        width: 25%;
    }
}

@media (max-width: 1190px) {
    .product__block-img {
        display: none;
    }
}

@media (max-width: 1075px) {
    .page-first-team .team__block-item {
        padding: 0 2%;
    }
}

@media (max-width: 960px) {
    .container,
    .container__section {
        width: 100%;
        padding: 0 10px;
    }

    .page-first-logo {
        margin: 0 auto;
    }

    .btn-get {
        left: 0;
        padding: 0 10px;
    }

    .about__title {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }

    .question-second-bg {
        height: 730px;
    }

    .question-second-bg {
        height: 580px;
    }

    .answer-second-img {
        width: 120px;
    }

    .answer-second__block-item-title > span:nth-child(2) {
        font-size: 18px;
    }

    .answer-second__block-item-title > span:nth-child(3) {
        font-size: 32px;
    }

    .answer-second__block-item-title > span:nth-child(4) {
        font-size: 22px;
        line-height: 30px;
    }

    .question-third-bg {
        height: 620px;
    }

    .answer-third__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .answer-third__block-item,
    .answer-third__block-question {
        width: 80%;
    }

    .answer-fourth__text ul,
    .answer-fifth__text ul {
        margin-top: 20px;
    }

    .sidebar {
        display: none;
    }

    .footer__info {
        padding: 0;
        text-align: center;
    }

    .popup {
        width: 95%;
    }

    .offer__title span {
        padding: 2.5% 0;
    }

    .offer__desc > span {
        padding: 0;
    }

    .security div {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }

    .product {
        padding-top: 20px;
    }

    .page-second-info {
        padding-bottom: 32%;
    }

    .page-second-offer-top span:last-child {
        display: inline;
    }

    .page-second-offer-top span:last-child::before {
        top: 0;
        left: -5%;
    }

    .page-second-info__desc span:nth-child(2),
    .page-second-info__desc span:nth-child(3) {
        display: inline-block;
        padding-left: 5%;
    }

    .page-second-info__desc span:nth-child(2)::before,
    .page-second-info__desc span:nth-child(3)::before {
        left: 2%;
    }

    .page-second-info__desc span:nth-child(5)::before,
    .page-second-info__desc span:nth-child(5)::after {
        top: 100%;
    }

    .page-third__title {
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 5%;
        margin-bottom: 5%;
    }

    .page-third__title span {
        font-size: 40px;
        line-height: 150%;
    }

    .page-third__title span:nth-child(1){
        order: 2;
    }

    .page-third__title img {
        width: 7%;
        order: 1;
        margin-bottom: 2%;
    }

    .page-third__title span:nth-child(3){
        order: 3;
    }
}

@media (max-width: 900px) {
    .congrats-img-1 {
        width: 15%;
        top: 7%;
    }

    .congrats-img-2 {
        width: 15%;
        top: 20%;
    }
}

@media (max-width: 880px) {
    .team__block-item {
        padding: 0 10px;
    }

    .offer__desc ul li:last-child {
        padding-right: 0;
    }
}

@media (max-width: 856px) {
    .answer-second__block-item:last-child .answer-second-img {
        margin-top: 15px;
    }
}

@media (max-width: 845px) {
    .offer__title {
        width: 100%;
    }

    .offer__title span {
        padding: 1.5% 0;
    }

    .offer__title span {
        font-size: 20px;
    }
}

@media (max-width: 830px) {
    h1,
    .banner h3 {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .banner h3 {
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .banner h3 span {
        display: block;
    }

    .banner__info > span {
        display: block;
    }

    .date__info span {
        display: block;
    }

    .product__block {
        padding-top: 5%;
    }
}

@media (max-width: 829px) {
    .page-second-offer__title {
        padding-top: 4%;
        padding-bottom: 4%;
    }
}

@media (max-width: 800px) {
    .btn-popup {
        margin-left: 4px;
    }

    .popup {
        padding: 0 20px;
    }

    .page-second-info__desc span:nth-child(2),
    .page-second-info__desc span:nth-child(3) {
        padding-left: 6%;
    }

    .page-second-offer__link,
    .page-second-offer__desc {
        padding: 0;
    }
}

@media (max-width: 793px) {
    .answer-second__block-item:nth-child(2) .answer-second-img {
        margin-top: 15px;
    }
}

@media (max-width: 780px) {
    .team__block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
    }

    .team__block-item {
        margin-bottom: 20px;
        flex-basis: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
    }

    .team-member-name span:nth-child(2) {
        padding: 0 3%;
    }

    .team__block .team__block-item:first-child .team-skill-img,
    .team__block .team__block-item:last-child .team-skill-img {
        padding-top: 0;
    }

    .page-first-team,
    .team-skill-img,
    .team-member-name span:nth-child(1),
    .team-member-name span:nth-child(2) {
        margin-bottom: 0;
    }

    .offer__title {
        padding: 0 15%;
    }

    .offer__title span {
        padding: 1% 0;
    }

    .offer__title span {
        font-size: 20px;
    }

    .offer__desc > span,
    .offer__desc > p:nth-child(3) {
        margin-bottom: 3%;
    }

    .offer__desc-img {
        float: none;
        width: 30%;
        margin: 0 auto;
    }
}

@media (max-width: 773px) {
    .answer-second__block-item:first-child .answer-second-img {
        margin-top: 15px;
    }
}

@media (max-width: 740px) {
    .header__btn-menu {
        display: block;
    }

    .header__list {
        display: none;
        width: 100%;
        position: absolute;
        top: 77px;
        left: 0;
        text-align: center;
    }

    .header__list ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #1f1f20;
        position: relative;
        z-index: 10;
    }

    .header__list ul li + li {
        margin-left: 0;
    }

    .header__list ul li {
        padding: 15px 0;
        border-bottom: 1px solid #fdad00;
    }

    .header__list ul li:first-child {
        border-top: 1px solid #fdad00;
    }

    .header__list ul li:last-child {
        border-bottom: none;
    }

    .header__list a {
        display: block;
    }

    .header__list ul li:last-child a {
        width: 230px;
        margin: 0 auto;
    }

    .question-third-bg {
        height: 660px;
    }

    .answer-third__block-item,
    .answer-third__block-question {
        width: 100%;
    }

    .tickets-img {
        width: 50%;
        float: none;
        margin: 0 auto 20px;
    }

    .tickets__desc > span:nth-child(2) {
        margin-bottom: 20px;
    }

    .page-second-offer-top span:last-child {
        padding-left: 5%;
    }

    .page-second-offer-top span:last-child::before {
        left: 0;
    }
}

@media (max-width: 720px) {
    .congrats-img-1 {
        top: 25%;
    }

    .congrats-img-2 {
        width: 15%;
        top: 20%;
    }
}

@media (max-width: 680px) {
    .team,
    .about__title {
        margin-bottom: 20px;
    }

    .about__title {
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding-top: 0;
    }

    .about__title span {
        width: 100%;
    }

    .about__title-img {
        width: 100%;
    }

    .footer__content {
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer__desc {
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .popup span:nth-child(1) {
        margin-top: 20px;
        line-height: 30px;
    }

    .popup span:nth-child(2) {
        line-height: 25px;
    }

    .btn-close {
        margin-bottom: 20px;
    }
}

@media (max-width: 647px) {
    .question-second-bg {
        height: 545px;
    }

    .question__title {
        margin-bottom: 20px;
    }

    .question__title span {
        margin-top: 20px;
    }

    .question__title-fourth span,
    .question__title-fifth span {
        margin-top: 65px;
    }

    .answer-second__block-item-title > span:nth-child(3) {
        font-size: 22px;
    }

    .answer-second__block-item-title > span:nth-child(3) span {
        font-size: 14px;
    }

    .answer-second__block-item-title > span:nth-child(4) {
        font-size: 18px;
    }
}

@media (max-width: 630px) {
    .page-second-info__desc span:nth-child(2),
    .page-second-info__desc span:nth-child(3) {
        margin-left: 0;
        padding: 0;
    }

    .page-second-info__desc span:nth-child(2)::before,
    .page-second-info__desc span:nth-child(3)::before {
        display: none;
    }
}

@media (max-width: 600px) {
    .answer-first__info-screens {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }

    .answer-first__img {
        margin-bottom: 20px;
        width: 100%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    }

    .answer-second__block-item:first-child .answer-second-img,
    .answer-second__block-item:nth-child(2) .answer-second-img,
    .answer-second__block-item:last-child .answer-second-img {
        margin-top: 0;
    }

    .answer-second-img {
        float: none;
        margin: 10px auto 10px;
    }

    .answer-second__block-item-title {
        text-align: center;
    }

    .answer-third-item__content {
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .answer-third-item__content span {
        width: 100%;
        margin-bottom: 20px;
    }

    .answer-fifth {
        margin-bottom: 20px;
    }

    .btn-popup {
        margin-left: 0;
    }

    .page-second-offer .btn-get a {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .answer-third__block-item:nth-child(2) .answer-third-item-title {
        padding-top: 10px;
    }

    .tickets__desc > a {
        font-size: 18px;
    }
}

@media (max-width: 571px) {
    .answer-third__block-item:nth-child(2) .answer-third-item-title,
    .answer-third__block-item:nth-child(7) .answer-third-item-title {
        height: 100%;
    }
}

@media (max-width: 568px) {
    .question-second-bg {
        height: 600px;
    }
}

@media (max-width: 550px) {
    .answer-third-item-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    .answer-third__block-item:nth-child(9) .answer-third-item-title,
    .answer-third__block-item:nth-child(11) .answer-third-item-title {
        padding-top: 10px;
    }

    .congrats h1 {
        font-size: 40px;
    }
}

@media (max-width: 540px) {
    .question__title-fifth span {
        margin-top: 45px;
    }

    .page-first-info .info__content span {
        display: block;
    }

    .page-first-info .info__content span:nth-child(3)::before,
    .page-first-info .info__content span:nth-child(3)::after {
        display: none;
    }

    .page-second-offer__title {
        padding-bottom: 10%;
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media (max-width: 538px) {
    .question__title-fourth span {
        margin-top: 50px;
    }
}

@media (max-width: 530px) {
    .question-third-bg {
        height: 720px;
    }
}

@media (max-width: 510px) {
    .info__content span {
        display: block;
    }
}

@media (max-width: 506px) {
    .answer-third__block-item:nth-child(8) .answer-third-item-title {
        padding-top: 10px;
        height: 100%;
    }
}

@media (max-width: 500px) {
    .footer__links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__links-about,
    .footer__links-support,
    .footer__links-legal {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__info {
        padding: 0 20px;
        text-align: center;
    }

    .footer__content,
    .footer__links {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer__desc,
    .footer__links-about,
    .footer__links-legal {
        text-align: left;
    }

    .page-first-team {
        margin-top: -15%;
    }

    .product__table {
        font-size: 16px;
    }

    .product__table tr:nth-child(1) {
        font-size: 18px;
    }

    .product__table tr:nth-child(3) td:nth-child(1) {
        padding-right: 0;
    }

    .tickets {
        padding-bottom: 22%;
    }
}

@media (max-width: 492px) {
    .answer-third__block-item:nth-child(5) .answer-third-item-title {
        height: 100%;
    }

    .popup span {
        display: inline-block;
        padding: 0;
    }
}

@media (max-width: 457px) {
    .answer-third__block-item:nth-child(4) .answer-third-item-title,
    .answer-third__block-item:nth-child(10) .answer-third-item-title {
        padding-top: 10px;
        height: 100%;
    }
}

@media (max-width: 456px) {
    .answer-third__block-question {
        height: 100%;
        padding-bottom: 10px;
    }
}

@media (max-width: 450px) {
    .question-second-bg {
        height: 650px;
    }

    .answer-second-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    .results-bg {
        height: 650px;
    }

    .btn-get-answer a span {
        display: inline-block;
        margin-top: 20px;
    }

    .footer__links {
        width: 100%;
    }
}

@media (max-width: 446px) {
    .faq-bg {
        height: 150px;
    }
}

@media (max-width: 442px) {
    .answer-third__block-item:nth-child(1) .answer-third-item-title,
    .answer-third__block-item:nth-child(3) .answer-third-item-title {
        padding-top: 10px;
        height: 100%;
    }
}

@media (max-width: 433px) {
    .question__title-fifth span {
        margin-top: 15px;
    }

    .answer-fifth__text span {
        margin-top: 0;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 25px;
    }

    .btn-get span {
        display: block;
        margin-top: 20px;
    }

    .banner__info span:nth-child(2) {
        margin-top: 10px;
    }

    .team {
        margin-top: 15%;
    }

    .about {
        margin-bottom: 20px;
    }

    .question-first-bg {
        height: 750px;
    }

    .question__title {
        margin-bottom: 20px;
    }

    .question__title span {
        margin-top: 20px;
    }

    .answer-title {
        padding: 15px 5px 10px 5px;
    }

    .answer-first__text li {
        margin-top: 15px;
    }

    .answer-first__text {
        margin-bottom: 15px;
    }

    .answer-first__info p {
        margin-bottom: 15px;
    }

    .answer-first__img {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }

    .question-second-bg {
        height: 700px;
    }

    .results,
    .answer-second {
        margin-bottom: 20px;
    }

    .question-third-bg {
        height: 860px;
    }

    .question {
        margin-bottom: 20px;
    }

    .question-fourth-bg,
    .question-fifth-bg {
        height: 190px;
    }

    .answer-fifth {
        margin-bottom: 20px;
    }

    .btn-sticky {
        display: block;
    }

    .tickets__desc > span:nth-child(2) {
        font-size: 14px;
    }

    .tickets__desc > span:nth-child(5) {
        font-size: 16px;
    }

    .page-first-team {
        margin-top: -15%;
    }

    .offer__desc li::before {
        width: 20px;
        height: 20px;
        margin-top: 2%;
    }

    .offer__desc ul li {
        margin-left: 8%;
        margin-bottom: 5%;
        line-height: 200%;
    }

    .product .btn-get a {
        font-size: 20px;
    }

    .product__table td {
        padding: 15px;
    }

    .security {
        margin-bottom: 5%;
    }

    .page-second-offer-top span:last-child {
        padding-left: 10%;
    }

    .page-second-info {
        padding-bottom: 35%;
    }

    .page-second-offer .btn-get a {
        font-size: 16px;
    }

    .page-third__title span {
        font-size: 32px;
    }

    .page-third__title img {
        width: 13%;
    }

    .congrats h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .team__block-item {
        transform: scale(0.8);
        margin-bottom: -3%;
    }
}

@media (max-width: 383px) {
    .question-fourth-bg {
        height: 230px;
    }
}

@media (max-width: 375px) {
    .question-second-bg {
        height: 750px;
    }

    .buy__block-img-second {
        width: 100%;
    }

    .answer-third__block-item:nth-child(11) .answer-third-item-title {
        padding-top: 10px;
        height: 100%;
    }

    .question-fifth-bg {
        height: 200px;
    }

    .answer-fifth__text li {
        margin-top: 15px;
    }

    .footer__desc {
        width: 100%;
    }

    .tickets__desc > a {
        font-size: 14px;
    }

    .page-second-offer .btn-get a {
        font-size: 14px;
    }
}

@media (max-width: 359px) {
    .question-fifth-bg {
        height: 230px;
    }

    .page-first-info .info__content span:nth-child(1) {
        font-size: 16px;
    }

    .popup span:nth-child(1) {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .popup span:nth-child(2) {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .popup-img {
        margin-bottom: 20px;
    }

    .btn-close {
        font-size: 14px;
    }
}

@media (min-width: 741px) {
    .header__list {
        display: block !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
    .btn-sticky {
        display: block;
    }
}