@media (max-width: 960px) {
    .container,
    .container__section {
        width: 100%;
        padding: 0 10px;
    }

    .btn-get {
        left: 0;
        padding: 0 10px;
    }

    .about__title {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }

    .question-second-bg {
        height: 730px;
    }

    .question-second-bg {
        height: 580px;
    }

    .answer-second__content span {
        display: block;
    }

    .question-third-bg {
        height: 620px;
    }

    .answer-fourth__text ul,
    .answer-fifth__text ul {
        margin-top: 20px;
    }

    .sidebar {
        display: none;
    }

    .footer__info {
        padding: 0;
        text-align: center;
    }

    .popup {
        width: 95%;
    }
}

@media (max-width: 880px) {
    .team__block-item {
        padding: 0 10px;
    }
}

@media (max-width: 830px) {
    h1,
    .banner h3 {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .banner h3 {
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .banner h3 span {
        display: block;
    }

    .banner__info > span {
        display: block;
    }

    .date__info span {
        display: block;
    }
}

@media (max-width: 800px) {
    .btn-popup {
        margin-left: 4px;
    }

    .popup {
        padding: 0 20px;
    }
}

@media (max-width: 780px) {
    .team__block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
    }

    .team__block-item {
        margin-bottom: 20px;
        flex-basis: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .team__block .team__block-item:first-child .team-skill-img,
    .team__block .team__block-item:last-child .team-skill-img {
        padding-top: 0;
    }
}

@media (max-width: 740px) {
    .header__btn-menu {
        display: block;
    }

    .header__list {
        display: none;
        width: 100%;
        position: absolute;
        top: 77px;
        left: 0;
        text-align: center;
    }

    .header__list ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #1f1f20;
        position: relative;
        z-index: 10;
    }

    .header__list ul li + li {
        margin-left: 0;
    }

    .header__list ul li {
        padding: 15px 0;
        border-bottom: 1px solid #fdad00;
    }

    .header__list ul li:first-child {
        border-top: 1px solid #fdad00;
    }

    .header__list ul li:last-child {
        border-bottom: none;
    }

    .header__list a {
        display: block;
    }

    .header__list ul li:last-child a {
        width: 230px;
        margin: 0 auto;
    }

    .question-third-bg {
        height: 660px;
    }
}

@media (max-width: 680px) {
    .team,
    .about__title {
        margin-bottom: 20px;
    }

    .about__title {
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .about__title span {
        width: 100%;
    }

    .about__title-img {
        width: 100%;
    }

    .footer__content {
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer__desc {
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .popup span:nth-child(1) {
        margin-top: 20px;
        line-height: 30px;
    }

    .popup span:nth-child(2) {
        line-height: 25px;
    }

    .btn-close {
        margin-bottom: 20px;
    }
}

@media (max-width: 647px) {
    .question-second-bg {
        height: 545px;
    }

    .question__title {
        margin-bottom: 20px;
    }

    .question__title span {
        margin-top: 20px;
    }

    .question__title-fourth span,
    .question__title-fifth span {
        margin-top: 65px;
    }
}

@media (max-width: 600px) {
    .answer-first__info-screens {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }

    .answer-first__img {
        margin-bottom: 20px;
        width: 100%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    }

    .answer-fifth {
        margin-bottom: 20px;
    }

    .btn-popup {
        margin-left: 0;
    }
}

@media (max-width: 568px) {
    .question-second-bg {
        height: 600px;
    }
}

@media (max-width: 540px) {
    .question__title-fifth span {
        margin-top: 45px;
    }
}

@media (max-width: 538px) {
    .question__title-fourth span {
        margin-top: 50px;
    }
}

@media (max-width: 530px) {
    .question-third-bg {
        height: 720px;
    }
}

@media (max-width: 510px) {
    .info__content span {
        display: block;
    }
}

@media (max-width: 500px) {
    .team {
        margin-top: 190px;
    }

    .footer__links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__links-about,
    .footer__links-support,
    .footer__links-legal {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__info {
        padding: 0 20px;
        text-align: center;
    }
}

@media (max-width: 450px) {
    .question-second-bg {
        height: 650px;
    }

    .answer-second-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    .results-bg {
        height: 100%;
    }

    .btn-get-answer a span {
        display: inline-block;
        margin-top: 20px;
    }

    .footer__links {
        width: 100%;
    }
}

@media (max-width: 446px) {
    .faq-bg {
        height: 150px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 25px;
    }

    .btn-get span {
        display: block;
        margin-top: 20px;
    }

    .banner__info span:nth-child(2) {
        margin-top: 10px;
    }

    .team {
        margin-top: 15%;
    }

    .about {
        margin-bottom: 20px;
    }

    .question-first-bg {
        height: 750px;
    }

    .question__title {
        margin-bottom: 20px;
    }

    .question__title span {
        margin-top: 20px;
    }

    .answer-title {
        padding: 15px 5px 10px 5px;
    }

    .answer-first__text li {
        margin-top: 15px;
    }

    .answer-first__text {
        margin-bottom: 15px;
    }

    .answer-first__info p {
        margin-bottom: 15px;
    }

    .answer-first__img {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }

    .question-second-bg {
        height: 700px;
    }

    .results,
    .answer-second {
        margin-bottom: 20px;
    }

    .question-third-bg {
        height: 860px;
    }

    .question {
        margin-bottom: 20px;
    }

    .question-fourth-bg,
    .question-fifth-bg {
        height: 190px;
    }

    .answer-fifth {
        margin-bottom: 20px;
    }

    .btn-sticky {
        display: block;
    }
}

@media (max-width: 383px) {
    .question-fourth-bg {
        height: 230px;
    }
}

@media (max-width: 375px) {
    .question-second-bg {
        height: 750px;
    }

    .buy__block-img-second {
        width: 100%;
    }

    .question-fifth-bg {
        height: 200px;
    }

    .answer-fifth__text li {
        margin-top: 15px;
    }

    .footer__desc {
        width: 100%;
    }
}

@media (max-width: 359px) {
    .question-fifth-bg {
        height: 230px;
    }
}

@media (min-width: 741px) {
    .header__list {
        display: block !important;
    }
}