/* -------------------------------------------------
	Font
   ------------------------------------------------- */
@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Roman.otf') format('opentype'),
    url('/font/AvenirLTStd-Roman.woff') format('woff'),
    url('/font/AvenirLTStd-Roman.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Medium.otf') format('opentype'),
    url('/font/AvenirLTStd-Medium.woff') format('woff'),
    url('/font/AvenirLTStd-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Heavy.otf') format('opentype'),
    url('/font/AvenirLTStd-Heavy.woff') format('woff'),
    url('/font/AvenirLTStd-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Black.otf') format('opentype'),
    url('/font/AvenirLTStd-Black.woff') format('woff'),
    url('/font/AvenirLTStd-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------------------------
	Base styles
   ------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'AvenirLTStd', sans-serif;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}

.container__section {
    width: 600px;
}

.split-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* -------------------------------------------------
	Header
   ------------------------------------------------- */
header {
    background-color: #1f1f20;
}

.header__inner {
    padding: 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 163px;
}

.logo img {
    padding-top: 5px;
}

.header__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__list ul li + li {
    margin-left: 30px;
}

.header__list ul li a {
    font-size: 14px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

.header__list ul li:last-child a {
    padding: 12px 16px 10px 16px;
    font-weight: 900;
    color: black;
    background-color: #fdad00;
    border-radius: 3px;
}

.header__btn-menu {
    display: none;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 0;
    border-radius: 3px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.header__btn-menu span,
.header__btn-menu span::before,
.header__btn-menu span::after {
    width: 20px;
    height: 2px;
    margin-top: -1px;
    margin-left: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
}

.header__btn-menu span::before,
.header__btn-menu span::after {
    content: '';
    display: block;
}

.header__btn-menu span::before {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.header__btn-menu span::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

/* -------------------------------------------------
	Info
   ------------------------------------------------- */
.info {
    -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    background-color: #371a84;
    position: relative;
}

.info__content {
    padding: 17px 0;
    text-align: center;
}

.info__content span {
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    color: white;
}

.info__content span:first-child {
    font-weight: 500;
    color: #fdad00;
}

/* -------------------------------------------------
	Banner
   ------------------------------------------------- */
.banner {
    background-image: linear-gradient(225deg, #60449a 0%, #1a843d 100%);
    text-align: center;
    padding-bottom: 70px;
}

.banner__container {
    position: relative;
}

h1 {
    margin: 0;
    padding: 50px 25px 0 25px;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    color: white;
}

.banner h3 {
    margin-bottom: 35px;
    padding: 30px 150px 0 150px;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    color: #f7b500;
}

.banner__video {
    position: relative;
}

.banner__video img {
    height: auto;
    background-color: black;
    -webkit-box-shadow: 0 0 34px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.banner__video-btn-play {
    width: 100px;
    height: 100px;
    background: url(../images/banner/btn-play.svg) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.banner__video-player {
    display: none;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.banner__video-player iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.btn-get {
    width: 100%;
    position: absolute;
}

.btn-get a,
.btn-popup {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 1px solid #5a8328;
    background-color: #83ba3f;
    font-size: 30px;
    font-weight: 900;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
}

/* -------------------------------------------------
	Team
   ------------------------------------------------- */
.team {
    margin-top: 3%;
}

.date__info {
    text-align: center;
    margin-bottom: 30px;
}

.date__info span:first-child {
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
}

.date__info span:last-child {
    font-weight: 500;
}

.team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team__block-item {
    padding: 0 27px;
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    background-color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.team-member-img {
    margin-top: 40px;
    margin-bottom: 17px;
}

.team-skill-img {
    width: 150px;
    margin-bottom: 35px;
}

.team__block-item:nth-child(1) .team-skill-img,
.team__block-item:nth-child(3) .team-skill-img {
    padding-top: 20px;
}

.team__block-item span {
    display: block;
    width: 225px;
}

.team__block-item span:nth-child(2) {
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
}

.team__block-item span:nth-child(3) {
    margin-bottom: 28px;
    font-weight: 500;
    line-height: 26px;
    color: #565656;
}

/* -------------------------------------------------
	About
   ------------------------------------------------- */
.about {
    margin-bottom: 63px;
}

.about__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 63px;
    padding-top: 67px;
}

.about__title span {
    width: 40%;
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
}

.about__title-img {
    width: 346px;
}

.about__text p + p,
.answer-first__text p + p {
    margin-top: 30px;
}

.about__text p {
    line-height: 30px;
    color: #565656;
}

/* -------------------------------------------------
	Question #1
   ------------------------------------------------- */
.section-bg {
    width: 100%;
    background-image: linear-gradient(226deg, #6739ba 0%, #371a84 100%);
    position: absolute;
    left: 0;
}

.question-first-bg {
    height: 785px;
}

.question,
.faq-title {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.question__title {
    margin-bottom: 46px;
}

.question__title span,
.faq-title-text {
    display: inline-block;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
    color: #fdad00;
}

.question__title h2 {
    padding: 0 5px;
    font-size: 36px;
    line-height: 50px;
    color: white;
}

.question-first__content-img {
    margin-bottom: 35px;
}

.question-first__content span {
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    color: white;
}

/* -------------------------------------------------
	Answer #1
   ------------------------------------------------- */
.answer-first {
    margin-bottom: 68px;
    position: relative;
}

.answer-title {
    display: inline-block;
    margin-bottom: 35px;
    width: 100%;
    padding: 40px 49px 40px 49px;
    font-size: 26px;
    font-weight: 800;
    line-height: 35px;
    color: #fdad00;
    text-align: center;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    border: 2px solid #fdad00;
    background-color: #231151;
}

.answer-first__text {
    margin-bottom: 45px;
}

.answer-first__text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.answer-first__text ul,
.answer-fourth__text ul,
.answer-fifth__text ul,
.offer__desc ul {
    position: relative;
}

.answer-first__text li {
    margin-top: 45px;
    margin-left: 50px;
    line-height: 30px;
}

.answer-first__text li::before,
.answer-fourth__text li::before,
.answer-fifth__text li::before,
.offer__desc li::before {
    content: '';
    margin-top: 4px;
    width: 30px;
    height: 30px;
    background-image: url('../images/answer-1/checkbox.svg');
    position: absolute;
    left: 0;
}

.answer-fourth__text li::before {
    margin-top: 13px;
}

.answer-first__info p {
    margin-bottom: 45px;
    font-weight: 800;
    line-height: 30px;
}

.answer-first__info p:nth-child(3) {
    font-weight: 400;
}

.answer-first__info-screens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.answer-first__img {
    width: 137px;
    border: 5px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 64px rgba(0, 0, 0, 0.43);
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.43);
}

/* -------------------------------------------------
	Question #2
   ------------------------------------------------- */
.question-second-bg {
    height: 620px;
}

.question-second__text p {
    margin-bottom: 20px;
    line-height: 27px;
    color: white;
}

/* -------------------------------------------------
	Answer #2
   ------------------------------------------------- */
.answer-second {
    margin-bottom: 40px;
    position: relative;
}

.answer-second-title {
    padding: 20px 60px 10px 60px;
}

.answer-second__content {
    text-align: center;
}

.answer-second__img {
    margin-bottom: 27px;
}

.answer-second__img img {
    -webkit-box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);
    border: 2px solid #dde6d7;
}

.answer-second__content span {
    display: inline-block;
}

.answer-second__content span:nth-child(4) {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 800;
    line-height: 49px;
}

.answer-second__content span:nth-child(5) {
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
}

/* -------------------------------------------------
	Results
   ------------------------------------------------- */
.results-bg,
.proof-bg {
    height: 1300px;
    background-image: linear-gradient(225deg, #60449a 0%, #1a843d 100%);
}

.results {
    margin-bottom: 60px;
    position: relative;
}

.results__content {
    text-align: center;
}

.results span {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #fdad00;
}

/* -------------------------------------------------
	Question #3
   ------------------------------------------------- */
.question-third-bg {
    height: 690px;
}

.question {
    margin-bottom: 50px;
}

/* -------------------------------------------------
	Answer #3
   ------------------------------------------------- */
.answer-third {
    margin-bottom: 40px;
    position: relative;
}

.answer-third-title {
    padding: 20px 20px 10px 20px;
}

.answer-third__block-item {
    margin-bottom: 30px;
}

.answer-third-item-title {
    height: 60px;
    padding-top: 20px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    border-radius: 4px 4px 0 0;
    border: 1px solid #fdad00;
    background-color: #fdad00;
    text-align: center;
}

.answer-third-item-title span {
    font-size: 20px;
    font-weight: 800;
}

.answer-third-item__content {
    padding: 20px 30px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 4px 4px;
    border: 1px solid #fdad00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.answer-third-item__content span {
    width: 332px;
    line-height: 27px;
    color: #565656;
}

.answer-third__block-question {
    height: 184px;
    margin-bottom: 30px;
    padding: 15px 30px 0 35px;
    border-radius: 10px;
    background-image: linear-gradient(225deg, #60449a 0%, #1a843d 100%);
}

.answer-third__block-question span {
    display: block;
    font-weight: 800;
    line-height: 35px;
    color: #fdad00;
}

.answer-third__block-question span:nth-child(2) {
    font-size: 26px;
    color: #ffffff;
}

.answer-third__block-question span:nth-child(3) {
    font-size: 26px;
}

.answer-third__block-item:nth-child(5) .answer-third-item-title,
.answer-third__block-item:nth-child(7) .answer-third-item-title {
    padding: 10px 40px 0 40px;
}

.answer-third__content {
    text-align: center;
}

.answer-third__content-desc span + span {
    margin-top: 30px;
    padding: 0 22px;
    display: inline-block;
    line-height: 27px;
    color: #565656;
}

.answer-third__content-desc span:nth-child(1) {
    font-size: 26px;
    font-weight: 800;
    line-height: 35px;
    color: #c52a2a;
}

.buy__block {
    text-align: center;
}

.btn-get-answer {
    position: static;
    margin-bottom: 30px;
}

.btn-get-answer a span {
    border-bottom: 2px solid white;
}

.buy__block > span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
}

.buy__block-img-second {
    width: 286px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------------
	Question #4
   ------------------------------------------------- */
.question-fourth-bg,
.question-fifth-bg {
    height: 233px;
}

.question-4,
.question-5 {
    padding-bottom: 80px;
}

/* -------------------------------------------------
	Answer #4
   ------------------------------------------------- */
.answer-fourth__text {
    margin-bottom: 35px;
}

.answer-fourth__text span,
.answer-fifth__text span {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.answer-fourth__text ul,
.answer-fifth__text ul {
    margin-top: 40px;
}

.answer-fourth__text li,
.answer-fifth__text li {
    margin-left: 50px;
    font-weight: 800;
    line-height: 50px;
}

.answer-fourth__text span:nth-child(5) {
    text-decoration: underline;
}

/* -------------------------------------------------
	Answer #5
   ------------------------------------------------- */
.answer-fifth {
    margin-bottom: 68px;
}

.answer-fifth__text li {
    margin-top: 35px;
    line-height: 26px;
}

/* -------------------------------------------------
	F.A.Q title
   ------------------------------------------------- */
.faq-bg {
    height: 100px;
}

.faq-title {
    padding-bottom: 0;
}

.faq-title-text {
    margin-top: 30px;
}

/* -------------------------------------------------
	F.A.Q
   ------------------------------------------------- */
.faq__text {
    margin-top: 50px;
}

.faq__text span {
    display: inline-block;
}

.faq-question {
    margin-bottom: 23px;
    font-weight: 800;
    line-height: 26px;
}

.faq-answer {
    font-weight: 500;
    line-height: 26px;
    color: #565656;
}

.faq-answer span {
    margin-top: 35px;
}

.faq-separator {
    border: 1px solid black;
    margin: 35px 0;
}

.buy__block + div {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}

.buy__block + div span {
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
}

/* -------------------------------------------------
	Proof
   ------------------------------------------------- */
.proof-bg {
    height: 1000px;
}

.proof {
    position: relative;
}

/* -------------------------------------------------
	Sidebar
   ------------------------------------------------- */
.sidebar__wrap {
    padding-bottom: 30%;
}

.sidebar {
    width: 276px;
    height: 485px;
    margin-top: 67px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #83ba3f;
    background-color: white;
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    text-align: center;
}

.sidebar span {
    display: inline-block;
}

.sidebar span:nth-child(2) {
    width: 99.3%;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.22);
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 231px;
    left: 2px;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #371a84;
    text-transform: uppercase;
}

.sidebar span:nth-child(3) {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
}

.sidebar span:nth-child(4) {
    margin-top: 12px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #565656;
}

.sidebar a {
    display: inline-block;
    margin-top: 27px;
    padding: 17px 30px 14px 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 1px solid #5a8328;
    background-color: #83ba3f;
}

/* -------------------------------------------------
	Footer
   ------------------------------------------------- */
footer {
    background-color: black;
    padding-bottom: 45px;
    position: relative;
}

.footer__content {
    padding-top: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__desc {
    width: 327px;
    margin-right: 140px;
}

.footer-title {
    display: block;
    margin-bottom: 11px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

.footer-text,
.footer-link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #bababa;
}

.footer__links {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-link {
    margin-top: 20px;
}

.footer-separator {
    margin: 40px 0;
    border: 2px solid rgba(105, 105, 105, 0.3);
}

.footer__info {
    padding: 0 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__info span,
.footer__info span:nth-child(5) a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    color: #797979;
}

.footer__info span:nth-child(2) {
    margin-top: 23px;
}

.footer__info span:nth-child(5) {
    margin-top: 20px;
    font-weight: 800;
}

.footer__info span:nth-child(5) a {
    display: inline;
    font-weight: 800;
}

/* -------------------------------------------------
	Pop-up window
   ------------------------------------------------- */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
}

.popup {
    width: 900px;
    padding: 0 88px;
    text-align: center;
    border-radius: 4px;
    background-color: #f3f5f8;
    -webkit-box-shadow: 0 0 34px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.06);
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.popup span {
    display: inline-block;
}

.popup span:nth-child(1) {
    margin-top: 42px;
    margin-bottom: 22px;
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
}

.popup span:nth-child(2) {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 38px;
}

.popup-img {
    margin-bottom: 37px;
}

.popup-form input {
    width: 97%;
    margin-left: -7px;
    padding: 16px 22px 14px 22px;
    -webkit-box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    border: 1px solid #020202;
    outline: none;
}

.popup-form input::placeholder {
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0.3;
}

.btn-popup {
    width: 97.5%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 6px;
    padding-top: 19px;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.btn-close {
    margin-bottom: 35px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

.btn-sticky {
    display: none;
    width: 100%;
    height: 60px;
    box-shadow: 0 -5px 14px rgba(0, 0, 0, 0.18);
    border-radius: 12px 12px 0 0;
    background-color: #83ba3f;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

/* -------------------------------------------------
	Page-1
   ------------------------------------------------- */
/* -------------------------------------------------
	Header-1
   ------------------------------------------------- */
.header-1 {
    padding: 7px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

/* -------------------------------------------------
	Info-1
   ------------------------------------------------- */
.info-1 .info__content {
    padding: 19px 0;
}

.info-1 .info__content span {
    font-size: 16px;
    font-weight: 500;
}

.info-1 .info__content span:nth-child(1) {
    font-size: 20px;
}

.info-1 .info__content span:nth-child(1) {
    display: block;
}

.info-1 .info__content span:nth-child(3)::before,
.info-1 .info__content span:nth-child(3)::after {
    content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    margin: 0 15px 1px;
    background-color: #fdad00;
}

/* -------------------------------------------------
	Tickets
   ------------------------------------------------- */
.tickets,
.product {
    background-image: linear-gradient(225deg, #60449a 0%, #1a843d 100%);
}

.tickets {
    padding-top: 40px;
    padding-bottom: 27%;
}

.tickets__desc {
    padding: 26px 25px 35px 30px;
    background-color: white;
    box-shadow: 0 0 54px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    position: relative;
}

.tickets__desc::after,
.offer__desc::after {
    content: '';
    clear: both;
    display: block;
}

.tickets-img,
.offer__desc-img {
    float: right;
}

.tickets__desc > span {
    display: block;
}

.tickets__desc > span:nth-child(2) {
    margin-left: 38px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.tickets__desc > span:nth-child(2)::before {
    content: '';
    width: 25px;
    height: 25px;
    background: url('../images/check.svg') no-repeat;
    background-size: contain;
    position: absolute;
    left: 28px;
    margin-top: 6px;
}

.tickets__desc > span:nth-child(2) span {
    font-weight: 800;
    color: #c52a2a;
}

.tickets__desc > span:nth-child(3) {
    margin-bottom: 24px;
    font-weight: 800;
    color: #565656;
}

.tickets__desc > a {
    font-size: 30px;
    font-weight: 800;
    color: #371a84;
    text-decoration: underline;
}

.tickets__desc > span:nth-child(5) {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.team-1 {
    margin-top: -23%;
    margin-bottom: 60px;
}

/* -------------------------------------------------
	Offer
   ------------------------------------------------- */
.offer {
    margin-bottom: 50px;
}

.offer__title {
    text-align: center;
    margin-bottom: 20px;
}

.offer__title span {
    display: block;
    padding: 25px 0;
    font-size: 40px;
    font-weight: 900;
    line-height: 36px;
    color: #c52a2a;
    background: url('../images/offer/offer-title-bg.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.offer__desc-img {
    margin-left: 104px;
}

.offer__desc > span {
    display: block;
    margin-bottom: 55px;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.offer__desc > p:nth-child(3) {
    margin-bottom: 55px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.offer__desc > p:nth-child(4) {
    margin-bottom: 25px;
    padding-top: 7px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #565656;
}

.offer__desc ul {
    margin-bottom: 50px;
}

.offer__desc ul li {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
}

.offer__desc li::before {
    margin-top: 10px;
}

.offer__desc ul li:last-child {
    padding-right: 150px;
    line-height: 30px;
}

.offer__desc ul li:last-child span,
.offer__desc > a span {
    text-decoration: underline;
}

.offer__desc > a {
    font-weight: 800;
    line-height: 30px;
    color: #371a84;
}

/* -------------------------------------------------
	Product
   ------------------------------------------------- */
/*.product__block {*/
    /*padding-top: 90px;*/
/*}*/

/*.product__block-title {*/
    /*padding-top: 20px;*/
    /*padding-bottom: 15px;*/

    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    /*justify-content: space-between;*/

    /*box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);*/
    /*border-radius: 4px 4px 0 0;*/
    /*background-color: #fdad00;*/
/*}*/

/*.product__block-title span {*/
    /*font-size: 20px;*/
    /*font-weight: 800;*/
/*}*/

/*.product__block-title span:first-child {*/
    /*margin-left: 30px;*/
/*}*/

/*.product__block-title span:last-child {*/
    /*margin-right: 160px;*/
/*}*/