/* -------------------------------------------------
	Font
   ------------------------------------------------- */
@font-face {
    font-family: 'AvenirLTStdRoman';
    src: url('../font/AvenirLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../font/AvenirLTStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------------------------
	Base styles
   ------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}